<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headerLinks') %>
    <title>Payment</title>
</head>
<body>
    <div class="wrapper">
        <%- include('../partials/paymentSideNavbar') %>
        <div id="content">
            <%- include('../partials/navbar') %>
            <h2>Payment | Cash</h2>
        </div>
    </div>
</body>
<%- include('../partials/footerLinks') %>
</html>