<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Inventory Management System</h3>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Payment Method</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/cashpayment">Cash</a>
                </li>
                <li>
                    <a href="/creditpayment">Credit</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>