<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Inventory Management System</h3>
    </div>
    <ul class="list-unstyled components">
        <li><a href="/">Home</a></li>
        <li><a href="/product">Product</a></li>
        <li><a href="/order">Purchase Order</a></li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reports</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/inventoryreport">Inventory Report</a>
                </li>
                <li>
                    <a href="/salesreport">Sales Report</a>
                </li>
            </ul>
        </li>
        <li><a href="/cashier">Cashier</a></li>
    </ul>
</nav>