@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    margin-bottom: 1rem;
}
#sidebar .sidebar-header h3{
    font-size: 25px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* Login Page Styling */
.loginContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginImgDiv{
    padding-right: 3rem;
}
.loginImg{
    width: 450px;
}
.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
}
.loginMessage{
    margin-top: 1.5rem;
    box-sizing: border-box;
}
.message{
    font-size: 15px;
}
.box{
    box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    height: 80% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    width: 95% !important;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea {
    resize: none;
}
.buttonWithMessage{
    display: flex;
}
.buttonWithMessage button, .buttonWithMessage .alert{
    height: 3rem;
}
.alert{
    margin: 0 !important;
    margin-left: auto !important;
}
#table_id_wrapper, .tableContainer{
    margin-top: 2rem;
}
.actions{
    display: flex;
}
.fa-user-edit, .fa-trash-alt, .fa-edit, .fa-print{
    margin: 0.5rem;
    cursor: pointer;
}
.fa-user-edit, .fa-edit, .fa-print{
    color: rgb(71, 201, 71)
}
.fa-trash-alt{
    color: red;
}
.deleteButton{
    background-color: inherit;
    padding: 0;
    border: none;
}
#table_id_filter input[type=search]:focus{
    border: none !important;
}
.fullDisplay{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errimg img{
    width: 40rem;
}
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.error h1{
    margin-bottom: 1rem;
}
.allButtons{
    margin: 1rem 0rem 1rem 0rem;
    text-align: center;
}
.shopDetails .shopName{
    text-transform: uppercase;
}
.shopDetails p, .customerDetails p{
    margin: 0;
    color: black;
}
.customerDetails{
    margin: 1rem 0rem 1rem 0rem;
}
.cashierDetails p{
    color: black;
    text-align: right;
}
.totalEarned, .totalLoss{
    color: black;
    font-weight: bold;
    margin-top: 1rem
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .box{
        height: 95% !important;
    }
    .loginImgDiv{
        padding-bottom: 4rem;
    }
    .loginImg{
        width: 400px !important;
    }
    .error{
        text-align: center;
    }
    .error h1{
        font-size: 2rem;
    }
}
@media (max-width: 989px) {
    .loginImgDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
    }
    .loginImg{
        width: 340px;
    }
    .loginForm{
        padding-left: 15px;
    }
}
@media print{
    body{
        visibility: hidden;
    }
    .print{
        visibility: visible;
    }
}